@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
	/* Color Variables */
	--color-base: #0B0D17;
	--color-primary: #fff;
	--color-secondary: #D0D6F9;
	--color-rare: #383B4B;

	/* Text Variables */
	--font-body:'Barlow', sans-serif;
	--font-primary: 'Bellefair',sans-serif;
	--font-secondary: 'Barlow Condensed',sans-serif;
	--font-size-base: 1rem;
	--line-height-base: 1.35;
	--font-size-700: 9.375rem;
	--font-size-600: 5rem;
	--font-size-500: 3.5rem;
	--font-size-400: 1.5rem;
	--font-size-300:1.25rem;
	--font-size-200: var(--font-size-base);
	--font-size-100: 0.938rem;

	/* Transition Variables */
	--timing: 0.4s;
	--easing: ease-in-out;

	/* Spacing between grid items */
	--gap: 1rem;
}


